<div class="container">
  <div *ngFor="let pokemon of pokemons" class="card">
    <h2>{{ pokemon.id }}</h2>
    <img [src]="pokemon.sprites.front_default" [alt]="pokemon.name">

    <p>{{ pokemon.name | titlecase }}</p>
    <p><strong>Tipos: </strong>
      <span *ngFor="let type of pokemon.types">{{ type.type.name | titlecase }} </span>
    </p>
  </div>

  <app-sidebar></app-sidebar>
</div>

<div>
  <button (click)="onPageChange(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
  <button (click)="onPageChange(currentPage + 1)">Próximo</button>
</div>
