<p>Another side bar yeeeey</p>

<!-- <p><strong>Altura:</strong> {{ pokemon.height / 10 }} m</p>
    <p><strong>Peso:</strong> {{ pokemon.weight / 10 }} kg</p>


    <p><strong>Habilidades: </strong>
      <span *ngFor="let ability of pokemon.abilities">{{ ability.ability.name | titlecase }} </span>
    </p>

    <p><strong>Status:</strong></p>
    <ul>
      <li *ngFor="let stat of pokemon.stats">
        {{ stat.stat.name | titlecase }}: {{ stat.base_stat }}
      </li>
    </ul>

    <p><strong>Movimentos:</strong></p>
    <ul>
      <li *ngFor="let move of pokemon.moves.slice(0, 5)">
        {{ move.move.name | titlecase }}
      </li>
    </ul>

    <p><strong>Linha Evolutiva:</strong></p>
    <div class="evolution-container">
      <div *ngFor="let evo of pokemon.evolutions" class="evolution-stage">
        <img [src]="evo.sprite" [alt]="evo.name">
        <p>{{ evo.name | titlecase }}</p>
      </div>
    </div> -->

